In [ ]:
#Phonepe pulse data extraction from github and insrt those data's into DB.

In [ ]:
!git clone https://github.com/PhonePe/pulse.git #pasting the copied link

In [ ]:
#importing the required libraries
import pandas as pd
import os
import json

In [ ]:
#aggregated transaction 
#Aggregated folder
#this is the actual path where our phonepe data present
path = r"C:\\gitproject\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\"    #escping the slashes \\ 
state_list = os.listdir(path)  #getting the path upto state
state_list

#summary of aggregated transcation
rec= {"state":[],"year":[],"quarter":[],"from":[],"to":[]}

#aggregated trascation details
col = {"state":[],"year":[],"quarter":[],"transaction_type":[],"transaction_count":[],"transaction_amount":[]}

for i in state_list: #iterating thru state list
    p1 = path+i+"//"
    year_group = os.listdir(p1) #year list
    for j in year_group:  #for each state iterating thru year wise
        p2 = p1+j+"//"
        year_group_list = os.listdir(p2)
        for k in year_group_list: #iterating thru every quarter of every year
            p3 = p2+k
            data = open(p3,'r') #open the each quarter file
            D = json.load(data)  #load the data into json
            #print(D)
            for x in D['data']['transactionData']: #iterating the values of data
                name = x['name']
                count = x['paymentInstruments'][0]['count']
                amount = x['paymentInstruments'][0]['amount']
                col['transaction_type'].append(name) #appending the values to col list
                col['transaction_count'].append(count)
                col['transaction_amount'].append(amount)
                col['state'].append(i)
                col['year'].append(j)
                col['quarter'].append(int(k.strip('.json')))
                #print(name,count,amount,i,j,k)
           #creating dataframe for the summary of aggregated transaction
            frm = D['data']['from']
            to = D['data']['to']
            rec['state'].append(i)
            rec['year'].append(j)
            rec['quarter'].append(int(k.strip('.json')))
            rec['from'].append(frm)
            rec['to'].append(to)
#DF ofsummary of agg txn
sum_agg_transDF = pd.DataFrame(rec)
sum_agg_transDF

#DF of Detailed aggregated txn
agg_transactionDF = pd.DataFrame(col) # creating a aggregated transaction dataframe
agg_transactionDF

In [ ]:
agg_transactionDF.info()

In [ ]:
agg_transactionDF.isna().sum()

In [ ]:
agg_transactionDF['state'] = agg_transactionDF['state'].str.replace('-',' ')
agg_transactionDF['state'] = agg_transactionDF['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
agg_transactionDF['state'] = agg_transactionDF['state'].str.removesuffix(' islands')

In [ ]:
agg_transactionDF.state.unique()

In [ ]:
agg_transactionDF.state = agg_transactionDF.state.str.title()

In [ ]:
#aggregated user dataframe
#aggregated users device details of different brand
col1 = {"state":[],"year":[],"quarter":[],"brand":[],"user_count":[],"percentage":[]}

#creating datframe for total users
rec = {"state":[],"year":[],"quarter":[],'registered_users':[],'appopens':[]}

path = "c:\\gitproject\\pulse\\data\\aggregated\\user\\country\\india\\state\\"    #escaping the slash by \
state_list = os.listdir(path)
state_list

for i in state_list:
    p1 = path+i+"\\"
    year_group = os.listdir(p1)
    for j in year_group:
        p2 = p1+j+"\\"
        year_group_list = os.listdir(p2)
        for k in year_group_list:
            p3 = p2+k
            data = open(p3,'r')
            D = json.load(data)
            #print(D)
            try:
                for x in D['data']['usersByDevice']:
                    brand = x['brand']
                    user_count = x['count']
                    percentage = x['percentage']
                    col1['brand'].append(brand)
                    col1['user_count'].append(user_count)
                    col1['percentage'].append(percentage)
                    col1['state'].append(i)
                    col1['year'].append(j)
                    col1['quarter'].append(int(k.strip('.json')))
                    #print(brand,user_count,percentage,i,j,k)
            except:
                pass
            
agg_userDF = pd.DataFrame(col1)
agg_userDF

In [ ]:
agg_userDF.info()
agg_userDF.isnull().sum()

In [ ]:
agg_userDF.state = agg_userDF.state.str.title()
agg_userDF['state'] = agg_userDF['state'].str.replace('-',' ')
agg_userDF['state'] = agg_userDF['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
agg_userDF['state'] = agg_userDF['state'].str.removesuffix(' Islands')
agg_userDF['state'].unique()

In [ ]:
#aggregated user dataframe
#aggregated users device details of different brand

#creating datframe for total users
rec = {"state":[],"year":[],"quarter":[],'registered_users':[],'appopens':[]}

path = "c:\\gitproject\\pulse\\data\\aggregated\\user\\country\\india\\state\\"    #escaping the slash by \
state_list = os.listdir(path)
state_list

for i in state_list:
    p1 = path+i+"\\"
    year_group = os.listdir(p1)
    for j in year_group:
        p2 = p1+j+"\\"
        year_group_list = os.listdir(p2)
        for k in year_group_list:
            p3 = p2+k
            data = open(p3,'r')
            D = json.load(data)
            #print(D)
            dat = D['data']['aggregated']
            try:
                for y in dat:
                    users = dat['registeredUsers']
                    #print()
                    app = dat['appOpens']
                    rec['state'].append(i)
                    rec['year'].append(j)
                    rec['quarter'].append(int(k.strip('.json')))
                    rec['registered_users'].append(users)
                    rec['appopens'].append(app)
                    #print(users,app)
            except:
                pass           
sum_agg_usersDF = pd.DataFrame(rec)
sum_agg_usersDF

In [ ]:
sum_agg_usersDF.info()
sum_agg_usersDF.isnull().sum()

In [ ]:
sum_agg_usersDF.state = sum_agg_usersDF.state.str.title()
sum_agg_usersDF['state'] = sum_agg_usersDF['state'].str.replace('-',' ')
sum_agg_usersDF['state'] = sum_agg_usersDF['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
sum_agg_usersDF['state'] = sum_agg_usersDF['state'].str.removesuffix(' Islands')
sum_agg_usersDF['state'].unique()

In [ ]:
#Map folder

#1)Transaction dataframe
path = "C:\\gitproject\\pulse\\data\\map\\transaction\\hover\\country\\india\\state\\"    
state_list = os.listdir(path)
state_list
#
col = {"state":[],"year":[],"quarter":[],"district":[],"transaction_metric_count":[],"transaction_metric_amount":[]}
for i in state_list:
    p1 = path+i+"\\"
    year_group = os.listdir(p1)
    for j in year_group:
        p2 = p1+j+"\\"
        year_group_list = os.listdir(p2)
        for k in year_group_list:
            p3 = p2+k
            data = open(p3,'r')
            D = json.load(data)
            for x in D['data']['hoverDataList']:
                area = x['name']
                count = x['metric'][0]['count']
                amount = x['metric'][0]['amount']
                col['district'].append(area.removesuffix('district'))
                col['transaction_metric_count'].append(count)
                col['transaction_metric_amount'].append(amount)
                col['state'].append(i)
                col['year'].append(j)
                col['quarter'].append(int(k.strip('.json')))
                #print(i,j,k,area,count,amount)
map_transactionDF = pd.DataFrame(col)
map_transactionDF

In [ ]:
map_transactionDF.info()
map_transactionDF.isna().sum()

In [ ]:
map_transactionDF.state = map_transactionDF.state.str.title()
map_transactionDF['state'] = map_transactionDF['state'].str.replace('-',' ')
map_transactionDF['state'] = map_transactionDF['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
map_transactionDF['state'] = map_transactionDF['state'].str.removesuffix(' Islands')
map_transactionDF['state'].unique()

In [ ]:
map_transactionDF['district'].unique()

In [ ]:
#Map folder
#2)user folder
path = r"C:\\gitproject\\pulse\\data\\map\\user\\hover\\country\\india\\state\\"    
state_list = os.listdir(path)
#state_list
col = {"state":[],"year":[],"quarter":[],"district":[],"registered_users":[],"appOpens":[]}
for i in state_list:
    p1 = path+i+"\\"
    year_group = os.listdir(p1)
    for j in year_group:
        p2 = p1+j+"\\"
        year_group_list = os.listdir(p2)
        for k in year_group_list:
            p3 = p2+k
            data = open(p3,'r')
            D = json.load(data)
            #print(D)
            rec = D['data']['hoverData'] 
            for x in rec:
                #print(x,rec[x])
                area = x
                users = rec[x]['registeredUsers']
                appopens = rec[x]['appOpens']
                #print(area)
                col['district'].append(area.removesuffix('district'))
                col['registered_users'].append(users)  
                col['appOpens'].append(appopens)
                col['state'].append(i)
                col['year'].append(j)
                col['quarter'].append(int(k.strip('.json')))
                
#dataframe for mp users
map_usersDF = pd.DataFrame(col)
map_usersDF

In [ ]:
map_usersDF.isna().sum()
map_usersDF.info()

In [ ]:
map_usersDF.state = map_usersDF.state.str.title()
map_usersDF['state'] = map_usersDF['state'].str.replace('-',' ')
map_usersDF['state'] = map_usersDF['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
map_usersDF['state'] = map_usersDF['state'].str.removesuffix(' Islands')
map_usersDF['state'].unique()

In [ ]:
#top folder - district table
#1) transaction
path = "C:\\gitproject\\pulse\\data\\top\\transaction\\country\\india\\state\\"    
state_list = os.listdir(path)
#state_list
col = {"state":[],"year":[],"quarter":[],"district":[],"transaction_metric_count":[],"transaction_metric_amount":[]}

for i in state_list:
    p1 = path+i+"\\"
    year_group = os.listdir(p1)
    for j in year_group:
        p2 = p1+j+"\\"
        year_group_list = os.listdir(p2)
        for k in year_group_list:
            p3 = p2+k
            data = open(p3,'r')
            D = json.load(data)
            for x in D['data']['districts']:
                districts = x['entityName']
                #print(districts)
                count = x['metric']['count']
                amount = x['metric']['amount']
                col['district'].append(districts)
                col['transaction_metric_count'].append(count)
                col['transaction_metric_amount'].append(amount)
                col['state'].append(i)
                col['year'].append(j)
                col['quarter'].append(int(k.strip('.json')))
                #print(i,j,k,districts,count,amount)
top_district_transactionDF = pd.DataFrame(col)
top_district_transactionDF

In [ ]:
top_district_transactionDF.info()
top_district_transactionDF.isnull().sum()

In [ ]:
top_district_transactionDF['state'] = top_district_transactionDF['state'].str.replace('-',' ')
top_district_transactionDF.state = top_district_transactionDF.state.str.title()
top_district_transactionDF['state'] = top_district_transactionDF['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
top_district_transactionDF['state'] = top_district_transactionDF['state'].str.removesuffix(' Islands')
top_district_transactionDF['state'].unique()

In [ ]:
#top folder- pincode table 
#1) transaction
path = "C:\\gitproject\\pulse\\data\\top\\transaction\\country\\india\\state\\"    
state_list = os.listdir(path)
#state_list
col1 = {"state":[],"year":[],"quarter":[],"pincode":[],"transaction_metric_count":[],"transaction_metric_amount":[]}
for i in state_list:
    p1 = path+i+"\\"
    year_group = os.listdir(p1)
    for j in year_group:
        p2 = p1+j+"\\"
        year_group_list = os.listdir(p2)
        for k in year_group_list:
            p3 = p2+k
            data = open(p3,'r')
            D = json.load(data)
            for x in D['data']['pincodes']:
                pincode = x['entityName']
                #print(pincode)
                count = x['metric']['count']
                amount = x['metric']['amount']
                col1['pincode'].append(pincode)
                col1['transaction_metric_count'].append(count)
                col1['transaction_metric_amount'].append(amount)
                col1['state'].append(i)
                col1['year'].append(j)
                col1['quarter'].append(int(k.strip('.json')))
                #print(i,j,k,districts,count,amount)
top_pin_transactionDF = pd.DataFrame(col1)
top_pin_transactionDF

In [ ]:
top_pin_transactionDF.info()
top_pin_transactionDF.isnull().sum()

In [ ]:
top_pin_transactionDF[top_pin_transactionDF['pincode'].isna()]

In [ ]:
top_pin_transactionDF.dropna(inplace=True)

In [ ]:
top_pin_transactionDF['state'] = top_pin_transactionDF['state'].str.replace('-',' ')
top_pin_transactionDF.state = top_pin_transactionDF.state.str.title()
top_pin_transactionDF['state'] = top_pin_transactionDF['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
top_pin_transactionDF['state'] = top_pin_transactionDF['state'].str.removesuffix(' Islands')
top_pin_transactionDF['state'].unique()

In [ ]:
#top folder
#1) user - district-wise
path = "C:\\gitproject\\pulse\\data\\top\\user\\country\\india\\state\\"    
state_list = os.listdir(path)
#state_list
col1 = {"state":[],"year":[],"quarter":[],"district":[],"registered_users":[]}
for i in state_list:
    p1 = path+i+"\\"
    year_group = os.listdir(p1)
    for j in year_group:
        p2 = p1+j+"\\"
        year_group_list = os.listdir(p2)
        for k in year_group_list:
            p3 = p2+k
            data = open(p3,'r')
            D = json.load(data)
            for x in D['data']['districts']:
                districts = x['name']
                #print(pincode)
                users = x['registeredUsers']
                col1['district'].append(districts)
                col1['registered_users'].append(users)
                col1['state'].append(i)
                col1['year'].append(j)
                col1['quarter'].append(int(k.strip('.json')))
                #print(i,j,k,districts,count,amount)
top_district_userDF = pd.DataFrame(col1)
top_district_userDF

In [ ]:
top_district_userDF.info()
top_district_userDF.isnull().sum()

In [ ]:
top_district_userDF['state'] = top_district_userDF['state'].str.replace('-',' ')
top_district_userDF.state = top_district_userDF.state.str.title()
top_district_userDF['state'] = top_district_userDF['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
top_district_userDF['state'] = top_district_userDF['state'].str.removesuffix(' Islands')
top_district_userDF['state'].unique()

In [ ]:
#top -- user --pincodewise

path = "C:\\gitproject\\pulse\\data\\top\\user\\country\\india\\state\\"    
state_list = os.listdir(path)
#state_list
col1 = {"state":[],"year":[],"quarter":[],"pincode":[],"registered_users":[]}
for i in state_list:
    p1 = path+i+"\\"
    year_group = os.listdir(p1)
    for j in year_group:
        p2 = p1+j+"\\"
        year_group_list = os.listdir(p2)
        for k in year_group_list:
            p3 = p2+k
            data = open(p3,'r')
            D = json.load(data)
            for x in D['data']['pincodes']:
                pincode = x['name']
                #print(pincode)
                users = x['registeredUsers']
                col1['pincode'].append(pincode)
                col1['registered_users'].append(users)
                col1['state'].append(i)
                col1['year'].append(j)
                col1['quarter'].append(int(k.strip('.json')))
                #print(i,j,k,districts,count,amount)
top_pin_userDF = pd.DataFrame(col1)
top_pin_userDF

In [ ]:
top_pin_userDF.info()

In [ ]:
top_pin_userDF['state'] = top_pin_userDF['state'].str.replace('-',' ')
top_pin_userDF.state = top_pin_userDF.state.str.title()
top_pin_userDF['state'] = top_pin_userDF['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
top_pin_userDF['state'] = top_pin_userDF['state'].str.removesuffix(' Islands')
top_pin_userDF['state'].unique()

In [ ]:
##### Inserting data into MySQLDB ###############3333

In [ ]:
#importing necessary libraries
import pymysql
import sqlalchemy as sal
from sqlalchemy import text

In [ ]:
#creating connection to mysql DB
import mysql.connector
host = 'localhost'
user='root'
password='root'
db_name='phonepe'
port = '3306'

#creating a db connection with values mantioned

def get_connection():
    #con = sal.create_engine(‘dialect+driver://username:password@host:port/database’)
    return sal.create_engine('mysql+pymysql://{user}:{password}@{host}:{port}/{db_name}'.
                        format(user=user,password=password,host=host,port=port,db_name=db_name
                              )
                       )

In [ ]:
try:
   engine = get_connection()
except Exception as e:
    print(e)

In [ ]:
#Table creation queries
agg_transaction ="create table agg_transaction(id int auto_increment not null,state varchar(50),year varchar(4),quarter int,transaction_type varchar(50),transaction_count bigint,transaction_amount bigint, primary key(id))"
sum_agg_user ="create table sum_agg_user(id int auto_increment not null,state varchar(50),year varchar(4),quarter int,registered_users int, appopens bigint, primary key(id))"
agg_user ="create table agg_user(id int auto_increment not null,state varchar(50),year varchar(4),quarter int,brand varchar(20),user_count int,percentage float, primary key(id))"
map_transaction = "create table map_transaction(id int auto_increment not null,state varchar(50),year varchar(4),quarter int,district varchar(50),transaction_metric_count bigint,transaction_metric_amount bigint, primary key(id))"
map_users = "create table map_users(id int auto_increment not null,state varchar(50),year varchar(4),quarter int,district varchar(50),registered_users int, appopens int, primary key(id))"
top_district_transaction = "create table top_district_transaction(id int auto_increment not null,state varchar(50),year varchar(4),quarter int,district varchar(50),transaction_metric_count bigint,transaction_metric_amount bigint, primary key(id))"
top_pin_transaction = "create table top_pin_transaction(id int auto_increment not null,state varchar(50),year varchar(4),quarter int,pincode varchar(6),transaction_metric_count bigint,transaction_metric_amount bigint, primary key(id))"
top_district_user = "create table top_district_user(id int auto_increment not null,state varchar(50),year varchar(4),quarter int, district varchar(50), registered_users int,primary key(id))"
top_pin_user ="create table top_pin_user(id int auto_increment not null,state varchar(50),year varchar(4),quarter int, pincode varchar(6),registered_users int,primary key(id))"

In [ ]:
#executing the tables creation queries  in phonepe database
    engine.execute(agg_transaction)
    engine.execute(agg_user)
    engine.execute(sum_agg_user)
    engine.execute(map_transaction)
    engine.execute(map_users)
    engine.execute(top_district_transaction)
    engine.execute(top_pin_transaction)
    engine.execute(top_district_user)
    engine.execute(top_pin_user)

In [ ]:
#checking for the  table creation in db
db = engine.execute("show tables")
for i in db:
    print(i)

In [ ]:
##to_sql method used to convert df into tables of mysqlDB
engine = get_connection()
agg_transactionDF.to_sql(con = engine, name='agg_transaction',if_exists='append',index=False)
agg_userDF.to_sql(con = engine, name='agg_user',if_exists='append',index=False)
sum_agg_usersDF.to_sql(con = engine, name='sum_agg_user',if_exists='append',index=False)
map_transactionDF.to_sql(con = engine, name='map_transaction',if_exists='append',index=False)
map_usersDF.to_sql(con = engine, name='map_users',if_exists='append',index=False)
top_district_transactionDF.to_sql(con = engine, name='top_district_transaction',if_exists='append',index=False)
top_district_userDF.to_sql(con = engine, name='top_district_user',if_exists='append',index=False)
top_pin_transactionDF.to_sql(con = engine, name='top_pin_transaction',if_exists='append',index=False)
top_pin_userDF.to_sql(con = engine, name='top_pin_user',if_exists='append',index=False)